<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pucminas.br.minhamuamba" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainGamesActivity"
            android:label="@string/title_activity_main_games"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="JANELA_CRUD_GAMES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActionFiguresActivity"
            android:label="@string/title_activity_main_action_figures"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="JANELA_CRUD_ACTION_FIGURES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMangasActivity"
            android:label="@string/title_activity_main_mangas"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="JANELA_CRUD_MANGAS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".rowGamesActivity" >
        </activity>
        <activity
            android:name=".IncluirGamesActivity"
            android:label="@string/title_activity_incluir_games"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="JANELA_INCLUIR_GAMES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
